<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="AVMS" type="TransactionServer.Base.ServiceTools,TransactionServer" />
	<section name="ACAPServer" type="TransactionServer.Base.ServiceTools,TransactionServer" />
	<section name="Bosch.IP7400" type="TransactionServer.Base.ServiceTools,TransactionServer" />
	<section name="Peake_Access" type="TransactionServer.Base.ServiceTools,TransactionServer" />
	<section name="Client_Com" type="TransactionServer.Base.ServiceTools,TransactionServer" />
  </configSections>
  <AVMS>
    <add key="enabled" value="true" />
    <add key="assembly" value="TransactionServer.Jobs.AVMS.Job,TransactionServer" />
	<add key="parent" value="" />
    <add key="ip" value="192.168.77.244" />
	<add key="port" value="" />
	<add key="auth_info" value="admin:admin" />
  </AVMS>
  <ACAPServer>
    <add key="enabled" value="true" />
    <add key="assembly" value="TransactionServer.Jobs.ACAPServer.Job,TransactionServer" />
	<add key="parent" value="" />
    <add key="ip" value="192.168.77.244" />
	<add key="port" value="7788" />
	<add key="auth_info" value="root:pass" />
  </ACAPServer>
  <Bosch.IP7400>
    <add key="enabled" value="true" />
    <add key="assembly" value="TransactionServer.Jobs.Bosch.IP7400.Job,TransactionServer" />
	<add key="parent" value="AVMS" />
    <add key="rcv_addr" value="192.168.77.244:7700" />
	<add key="dev_addr" value="192.168.77.102:7700" />
  </Bosch.IP7400>
  <Peake_Access>
    <add key="enabled" value="true" />
    <add key="assembly" value="TransactionServer.Jobs.Peake_Access.Peake_Access,TransactionServer" />
	<add key="parent" value="AVMS" />
  </Peake_Access>
  <Client_Com>
    <add key="enabled" value="true" />
    <add key="assembly" value="TransactionServer.Jobs.Client_Com.Client_Com,TransactionServer" />
    <add key="parent" value="AVMS" />
  </Client_Com>
  <appSettings>
	<add key="print_log_enabled" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>