<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="AVMS" type="TransactionServer.Base.ServiceTools,TransactionServer" />
	<section name="Bosch.IP7400" type="TransactionServer.Base.ServiceTools,TransactionServer" />
    <section name="SocketServer" type="TransactionServer.Base.ServiceTools,TransactionServer" />
    <section name="Peake_Access" type="TransactionServer.Base.ServiceTools,TransactionServer" />
    <section name="SystemInfo" type=",TransactionServer" />
  </configSections>
  <AVMS>
    <add key="description" value="AVMS" />
    <add key="enabled" value="true" />
    <add key="assembly" value="TransactionServer.Jobs.AVMS.Job,TransactionServer" />
    <add key="configuration" value="transaction.conf" />
	<add key="log_enabled" value="true" />
	<add key="system_id" value="1" />
	<add key="plugin" value="Bosch.IP7400,Peake" />
  </AVMS>
  <Bosch.IP7400>
    <add key="description" value="Bosch.IP7400" />
    <add key="enabled" value="true" />
    <add key="assembly" value="TransactionServer.Jobs.Bosch.IP7400.Job,TransactionServer" />
    <add key="configuration" value="transaction.conf" />
	<add key="log_enabled" value="true" />
	<add key="system_id" value="2" />
  </Bosch.IP7400>
  <Peake_Access>
    <add key="description" value="Output" />
    <add key="enabled" value="true" />
    <add key="assembly" value="TransactionServer.Jobs.Peake_Access.Peake_Access,TransactionServer" />
    <add key="configuration" value="transaction.conf" />
    <add key="log_enabled" value="true" />
    <add key="system_id" value="4" />
  </Peake_Access>
  <SystemInfo type="ConfigSectionObjects.ServerConfig, ConfigSectionObjects">
    <systems>
      <system id="1" name="AVMS_localhost" ip="localhost" user="admin" pass="admin" connectionString="" />
      <system id="2" name="AVMS_244" ip="192.168.77.244" user="admin" pass="admin" connectionString="Data Source=.\\AXIS;Initial Catalog=VMSChina2;User ID=sa;Password=Axis123456" />
    </systems>
  </SystemInfo>
  <appSettings>
    <add key="service_log_enabled" value="true" />
    <add key="avms_log_enabled" value="true" />
	<add key="bosch_ip7400_log_enabled" value="false" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>